/* ------------------------------
 * Default layout stuff
 * ------------------------------
 */

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

/* ----------------------------
 * Layout constraints
 * ----------------------------
 */

.l--constrained {
  max-width: $maxWidth;
  margin: 0 auto;
  width: 100%;
}

.l--content {
  max-width: $contentWidth;
  margin: 0 auto;
  width: 100%;
}

/* ----------------------------------
 * Layout / display helper classes
 * ----------------------------------
 */

.display--flex {
  display: flex;
  flex-direction: row;
}

.flex--center-between {
  justify-content: space-between;
  align-items: center;
}

.display--block {
  display: block;
}
