.siteHeader {
  background: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.headerLogo {
  font-weight: bold;
  font-size: 24px;
  font-size: 2.4rem;
  color: #444;
  text-decoration: none;
}

.headerUser {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  color: #444;
  transition: all 0.2s ease;
  &:hover {
    color: white;
    background: #49E273; 
    .headerUser__picture {
      border-color: white; 
    }
  }
  .headerUser__picture {
    width: 48px;
    margin-right: 10px;
    border-radius: 100%; 
    border: solid transparent 3px;
  }
}
