$maxWidth: 1440px;
$contentWidth: 1140px;

/* -----------------------
 * Raw colours
 * -----------------------
 */
$limagreen: #7ED320;

/* -----------------------
 * Branding colours
 * -----------------------
 */
$primary: $limagreen;
